<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-5">
              <h5 class="card-title mb-0">Detalle del perfil</h5>
            </div>

            <div class="col-sm-7 d-md-block">
              <button class="btn btn-danger float-right text-white ml-2" type="button" (click)="perfilModal.show()">
                Borrar
              </button>
              <button class="btn btn-warning float-right text-white ml-2" type="button" data-toggle="modal"
                (click)="perfilModal.show()">
                Editar
              </button>
              <button class="btn btn-primary float-right text-white" type="button" data-toggle="modal"
                [routerLink]="['/perfiles']">
                Regresar
              </button>
            </div>

          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nombrePerfil">Nombre del perfil</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" id="nombrePerfil" name="nombrePerfil" class="form-control"
                      placeholder="Nombre del perfil">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="nombrePerfil" class="mt-3">Permisos</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="card">
                    <div class="card-header">
                      <label class="col-md-3 col-form-label">Ventas</label>
                    </div>
                    <div class="card-body">
                      <div class="form-group row">
                        <div class="col-md-9 col-form-label">
                          <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
                            <label class="form-check-label" for="inline-checkbox1">Autorizaciones</label>
                          </div>
                          <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="option2">
                            <label class="form-check-label" for="inline-checkbox2">Control</label>
                          </div>
                          <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="option3">
                            <label class="form-check-label" for="inline-checkbox3">Reportes</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="card">
                    <div class="card-header">
                      <label class="col-md-3 col-form-label">Compras</label>
                    </div>
                    <div class="card-body">
                      <div class="form-group row">
                        <div class="col-md-9 col-form-label">
                          <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
                            <label class="form-check-label" for="inline-checkbox1">Autorizaciones</label>
                          </div>
                          <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="option2">
                            <label class="form-check-label" for="inline-checkbox2">Pago a proveedor</label>
                          </div>
                          <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="option3">
                            <label class="form-check-label" for="inline-checkbox3">Reportes</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #perfilModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Perfil</h4>
        <button type="button" class="close" (click)="perfilModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="nombrePerfil">Nombre del perfil</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <input type="text" id="nombrePerfil" name="nombrePerfil" class="form-control"
                    placeholder="Ingrese el nombre del perfil">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="card">
                  <div class="card-header">
                    <label class="col-md-3 col-form-label">Ventas</label>
                  </div>
                  <div class="card-body">
                    <div class="form-group row">
                      <div class="col-md-9 col-form-label">
                        <div class="form-check form-check-inline mr-1">
                          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
                          <label class="form-check-label" for="inline-checkbox1">Autorizaciones</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                          <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="option2">
                          <label class="form-check-label" for="inline-checkbox2">Control</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                          <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="option3">
                          <label class="form-check-label" for="inline-checkbox3">Reportes</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <div class="card">
                  <div class="card-header">
                    <label class="col-md-3 col-form-label">Compras</label>
                  </div>
                  <div class="card-body">
                    <div class="form-group row">
                      <div class="col-md-12 col-form-label">
                        <div class="form-check form-check-inline mr-1">
                          <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
                          <label class="form-check-label" for="inline-checkbox1">Autorizaciones</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                          <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="option2">
                          <label class="form-check-label" for="inline-checkbox2">Pago a proveedor</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                          <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="option3">
                          <label class="form-check-label" for="inline-checkbox3">Reportes</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="perfilModal.hide()">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
