<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="card-title mb-0">Sucursales</h4>
            </div>

            <div class="col-sm-7 d-md-block">
              <button class="btn btn-primary float-right btn-block" type="button" data-toggle="modal"
                (click)="sucursalModal.show()">
                + Añadir sucursal
              </button>
            </div>

          </div>

          <br>
          <table class="table table-responsive-lg table-hover table-outline table-sm">
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th class="mobhide">Teléfono</th>
                <th class="mobhide">Responsable</th>
                <th style="width: 5%"></th>
                <th style="width: 5%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td [routerLink]="['/sucursales/sucursal-detalle', '1']">1</td>
                <td [routerLink]="['/sucursales/sucursal-detalle', '1']">Chimesa</td>
                <td [routerLink]="['/sucursales/sucursal-detalle', '1']" class="mobhide">(442) 225 87 45</td>
                <td [routerLink]="['/sucursales/sucursal-detalle', '1']" class="mobhide">Juan Pérez</td>
                <td><a class="btn btn-warning text-white" data-toggle="modal" (click)="sucursalModal.show()">Editar</a>
                </td>
                <td><a class="btn btn-danger text-white">Borrar</a></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #sucursalModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sucursal</h4>
        <button type="button" class="close" (click)="sucursalModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="formSucursales" (ngSubmit)="guardarSucursales()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{ 'was-validated': formSucursales.get('nombre').valid}">
                    <label for="nombre">Nombre de la sucursal</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-shopping-cart"></i></span>
                      </div>
                      <input type="text" id="nombre" name="nombre" class="form-control is-invalid"
                        placeholder="Ingrese el nombre de la sucursal" formControlName='nombre'>
                      <div class="invalid-feedback" *ngIf="formSucursales.controls['nombre'].errors?.required">
                        El nombre de la sucursal es requerida
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <div class="input-group" [ngClass]="{ 'was-validated': formSucursales.get('telefono').valid}">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                      </div>
                      <input type="text" id="telefono" name="telefono" class="form-control is-invalid"
                      placeholder="Ingrese el número de teléfono" formControlName='telefono'>
                      <div class="invalid-feedback" *ngIf="formSucursales.controls['telefono'].errors?.required">
                        El teléfono es requerido
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{ 'was-validated': formSucursales.get('correo').valid }">
                    <label for="correo">Correo</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                      </div>
                      <input type="text" id="correo" name="correo" class="form-control is-invalid"
                        placeholder="Ingrese el correo electrónico" formControlName='correo'>
                      <div class="invalid-feedback" *ngIf="formSucursales.controls['correo'].errors?.required">
                          El correo es requerido
                      </div>
                      <div class="invalid-feedback" *ngIf="formSucursales.controls['correo'].errors?.pattern">
                          El correo no tiene el formato correcto
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{ 'was-validated': formSucursales.get('responsable').valid }">
                    <label for="responsable">Responsable</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                      <select id="responsable" name="responsable" class="custom-select is-invalid" formControlName='responsable'>
                        <option value="">Seleccione un responsable</option>
                        <option value="Juan Perez">Juan Pérez</option>
                        <option value="Roberto Lopez">Roberto López</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="formSucursales.controls['responsable'].errors?.validaSelect">
                          Seleccione a un responsable
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{ 'was-validated': formSucursales.get('status').valid }">
                    <label for="status">Estatus</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-list-alt"></i></span>
                      </div>
                      <select id="status" name="status" class="custom-select is-invalid" formControlName='status'>
                        <option value="">Seleccione el tipo de estatus</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                      </select>
                      <div class="invalid-feedback" *ngIf="formSucursales.controls['status'].errors?.validarStatus">
                          Seleccione un estatus
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{ 'was-validated': formSucursales.get('direccion').valid }">
                    <label for="direccion">Dirección</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                      </div>
                      <textarea class="form-control is-invalid" id="direccion" name="direccion" rows="2"
                        placeholder="Dirección" formControlName='direccion'></textarea>
                      <div class="invalid-feedback" *ngIf="formSucursales.controls['direccion'].errors?.required">
                          La dirección es requerida
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{ formSucursales.valid}}
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="sucursalModal.hide()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Agregar perfil</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
