<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="card-title mb-0">Conceptos</h4>
            </div>

            <div class="col-sm-7 d-none d-md-block">
              <button class="btn btn-primary float-right btn-block" type="button" data-toggle="modal"
                (click)="conceptoModal.show()">
                + Añadir concepto
              </button>
            </div>

          </div>

          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr >
                <th>#</th>
                <th>Nombre</th>
                <th class="mobhide">Precio</th>
                <th class="mobhide">Unidad medición</th>
                <th style="width: 5%"></th>
                <th style="width: 5%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td [routerLink]="['/conceptos/concepto-detalle', '1']">1</td>
                <td [routerLink]="['/conceptos/concepto-detalle', '1']">Tanque</td>
                <td [routerLink]="['/conceptos/concepto-detalle', '1']" class="mobhide"> {{ 3000 | currency:'USD' }}</td>
                <td [routerLink]="['/conceptos/concepto-detalle', '1']" class="mobhide">Litros</td>
                <td><a class="btn btn-warning text-white" data-toggle="modal" (click)="conceptoModal.show()">Editar</a>
                </td>
                <td><a class="btn btn-danger text-white">Borrar</a></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #conceptoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Concepto</h4>
        <button type="button" class="close" (click)="conceptoModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-shopping-cart"></i></span>
                  </div>
                  <input type="text" id="nombre" name="nombre" class="form-control"
                    placeholder="Ingrese el nombre de la sucursal">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="precio">Precio</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-dollar"></i></span>
                  </div>
                  <input type="text" id="precio" name="precio" class="form-control" placeholder="Ingrese el precio">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="unidadMedicion">Unidad de medición</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-balance-scale"></i></span>
                  </div>
                  <select id="unidadMedicion" name="unidadMedicion" class="form-control">
                    <option value="0">Seleccione la unidad</option>
                    <option value="0">Litros</option>
                    <option value="0">Galones</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="conceptoModal.hide()">Cerrar</button>
        <button type="button" class="btn btn-primary">Agregar perfil</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
