<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-header">
          <div class="row">
            <div class="col-sm-5">
              <h5 class="card-title mb-0">Detalle de sucursal</h5>
            </div>

            <div class="col-sm-7 d-md-block">
              <button class="btn btn-danger float-right text-white ml-2" type="button">
                Borrar
              </button>
              <button class="btn btn-warning float-right text-white ml-2" type="button" data-toggle="modal"
                (click)="sucursalModal.show()">
                Editar
              </button>
              <button class="btn btn-primary float-right text-white" type="button" data-toggle="modal"
                [routerLink]="['/sucursales']">
                Regresar
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nombre">Nombre de la sucursal</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-shopping-cart"></i></span>
                    </div>
                    <input type="text" id="nombre" name="nombre" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="telefono">Teléfono</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                    <input type="text" id="telefono" name="telefono" class="form-control" disabled>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="responsable">Responsable</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" id="responsable" name="responsable" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="correo">Correo</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="text" id="correo" name="correo" class="form-control" disabled>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="status">Estatus</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-list-alt"></i></span>
                    </div>
                    <input type="text" id="status" name="status" class="form-control" disabled>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="direccion">Dirección</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                    </div>
                    <textarea class="form-control" id="direccion" name="direccion" rows="2"
                    placeholder="Dirección" disabled></textarea>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #sucursalModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sucursal</h4>
        <button type="button" class="close" (click)="sucursalModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="nombre">Nombre de la sucursal</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-shopping-cart"></i></span>
                  </div>
                  <input type="text" id="nombre" name="nombre" class="form-control"
                    placeholder="Ingrese el nombre de la sucursal">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="telefono">Teléfono</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                  </div>
                  <input type="text" id="telefono" name="telefono" class="form-control"
                    placeholder="Ingrese el número de teléfono">
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="correo">Correo</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                  </div>
                  <input type="email" id="correo" name="correo" class="form-control"
                    placeholder="Ingrese el correo electrónico">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="responsable">Responsable</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <select id="responsable" name="responsable" class="form-control">
                    <option value="0">Juan Pérez</option>
                    <option value="1">Roberto López</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group">
                <label for="status">Estatus</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-list-alt"></i></span>
                  </div>
                  <select id="status" name="status" class="form-control">
                    <option value="0">Seleccione el tipo de estatus</option>
                    <option value="0">Activo</option>
                    <option value="1">Inactivo</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="direccion">Dirección</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                  </div>
                  <textarea class="form-control" id="direccion" name="direccion" rows="2"
                    placeholder="Dirección"></textarea>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="sucursalModal.hide()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="sucursalModal.hide()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
