<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-header">
          <div class="row">
            <div class="col-sm-5">
              <h5 class="card-title mb-0">Detalle {{ sucursalData.nombre }}</h5>
            </div>

            <div class="col-sm-7 d-md-block">
              <button class="btn btn-danger float-right text-white ml-2" type="button">
                Borrar
              </button>
              <button class="btn btn-warning float-right text-white ml-2" type="button" data-toggle="modal"
                (click)="sucursalModal.show()">
                Editar
              </button>
              <button class="btn btn-primary float-right text-white" type="button" data-toggle="modal"
                [routerLink]="['/sucursales']">
                Regresar
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <form [formGroup]="formSucursales">
                <div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="nombre">Nombre de la sucursal</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-shopping-cart"></i></span>
                          </div>
                          <input type="text" id="nombre" name="nombre" 
                                 class="form-control" formControlName="nombre"
                                 [value]="sucursal.nombre">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                          </div>
                          <input type="text" id="telefono" name="telefono" 
                                 class="form-control" formControlName="telefono"
                                 [value]="sucursal.telefono">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="responsable">Responsable</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                          </div>
                          <input type="text" id="responsable" name="responsable" 
                                 class="form-control" formControlName="responsable"
                                 [value]="sucursal.responsable">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="correo">Correo</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                          </div>
                          <input type="text" id="correo" name="correo" 
                                 class="form-control" formControlName="correo"
                                 [value]="sucursal.correo">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="status">Estatus</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-list-alt"></i></span>
                          </div>
                          <input type="text" id="status" name="status" 
                                 class="form-control" formControlName="status"
                                 [value]="sucursal.status">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                          </div>
                          <textarea class="form-control" id="direccion" 
                                    name="direccion" rows="2"
                                    formControlName="direccion"
                                    [value]="sucursal.direccion">
                          </textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #sucursalModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sucursal</h4>
        <button type="button" class="close" (click)="sucursalModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSucursalesModal" (ngSubmit)="guardaSucursalModal()" >
          <div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nombre">Nombre de la sucursal</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-shopping-cart"></i></span>
                    </div>
                    <input type="text" id="nombre" name="nombre" 
                           class="form-control is-invalid" placeholder="Ingrese el nombre de la sucursal" 
                           formControlName="nombre" [value]="sucursal.nombre">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="telefono">Teléfono</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                    <input type="text" id="telefono" name="telefono" 
                           class="form-control is-invalid" placeholder="Ingrese el número de teléfono" 
                           formControlName="telefono" [value]="sucursal.telefono">
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="correo">Correo</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="email" id="correo" name="correo" 
                           class="form-control is-invalid" placeholder="Ingrese el correo electrónico" 
                           formControlName="correo" [value]="sucursal.correo">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="responsable">Responsable</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <select id="responsable" name="responsable" 
                            class="custom-select is-invalid" formControlName="responsable">
                      <option value="">Seleccione un responsable</option>
                      <option [value]="sucursal.responsable">{{ sucursal.responsable }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="status">Estatus</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-list-alt"></i></span>
                    </div>
                    <select id="status" name="status" 
                            class="custom-select is-invalid" formControlName="status"
                            [value]="sucursal.status">
                      <option value="">Seleccione el tipo de estatus</option>
                      <option value="Activo">Activo</option>
                      <option value="Inactivo">Inactivo</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="direccion">Dirección</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                    </div>
                    <textarea class="form-control is-invalid" id="direccion" 
                              name="direccion" rows="2"
                              placeholder="Dirección" formControlName="direccion"
                              [value]="sucursal.direccion">
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="sucursalModal.hide()">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
